# Example config
[common]
# Sometimes the temperature sensors might malfunction and report near absolute zero temperatures.
temperature_cutoff: -50

[InfluxDB]
enabled: True
print_response: True
influxdb_address: 127.0.0.1:8086
influxdb_api: /write
influxdb_db: ?db=Temperatures
region: Place1
host: Server1

[writetofile]
enabled: True
file_location: ./www/temperature.txt
